<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{% static 'myapp/css/styles.css' %}">
    <title>Dropdown Form</title>
</head>
<body>
    <h1>Welcome to the Dropdown Form</h1>

    <div id = "movetoshipments">
        <a href="{% url 'shipments' %}" class="button">Go to Shipments</a>
    </div>

    <!-- Display the selected option if form is submitted -->
    {% if selected_option %}
        <h1>Selected project Is: {{ selected_option }}, ID: 2024_{{ id }}</h1>
    {% endif %}

    <h1>Database Records</h1>
    <ul>
        {% for record in data %}
            <li>Record {{ record.id }}: {{ record.selected_option }} (Random ID: {{ record.random_id }})</li>
        {% empty %}
            <li>No records found.</li>
        {% endfor %}
    </ul>

    <h1>Comment Area</h1>
    <ul>
        {% for info in contct_info %}
            <li>Email: {{ info.email_area }} - Comment: {{ info.text_area }}</li>
        {% empty %}
            <li>There are no comments.</li>
        {% endfor %}
    </ul>

   
</body>
</html>
